$color-dark-green: rgba(129, 150, 143, 1);
$color-light-brown: rgba(207, 185, 165, 1);
$color-lighter-brown: rgba(232, 204, 191, 1);
$color-light-blue: rgba(159, 195, 203, 1);
$color-light-purple: rgba(233, 214, 236, 1);
$color-vibrant-green: #18a362;
$color-vibrant-blue: #2c66e2;

$color-text-normal: #474747;