$color-light-brown: #e5c2bb;
$color-light-green: #c4e9cb;
$color-dark-green: #349B97;
$color-dark-blue: #3545A5;
$color-light-purple: #d2cced;
$color-lighter-purple: #dad5f1;
$color-lightest-purple: #e2def5;


$color-text-normal: #474747;