.AppBar {
    & > span {
        position: absolute;
        left: 2%;
        top: 20%;
        font-family: "Audiowide", cursive;
        font-size: 1.5rem;
    }
}

.AboutTab {
    position: absolute;
    left: 25%;    
}