.NavItems {
    width: 100%;
    background-color: lightslategrey;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1rem 6rem;

    & div:not(:last-child) {
        margin-right: 4rem;
    }
}