.App {
    text-align: center;
    background-color: lightsteelblue;
    width: 100%;
    margin: 0 auto;
    & h1 {
        background-color: 'blue';
        color: red;
        text-decoration: underline; 
    }
    & p {
        color: magenta;
        text-decoration: underline;
    }
}

.Image {
    margin: 0 auto;
    max-width: 320px;
    & img {
        display: inline-block;
        width: 100%;
    }
}