@import "../../globals/vars/colors";

.ButtonInfo {
    background-color: $color-light-blue;
}

.ButtonSuccess {
    background-color: $color-light-green;
}

.ButtonWarning {
    background-color: $color-light-yellow;
}

.ButtonDanger {
    background-color: $color-light-red;
}