@import "./gutters";
@import "../mixins/clearfix";

$grid-max-cols: 12;

[class*="cols-"] {
    float: left;
    padding: $gutter-vertical-small $gutter-horizontal-small;
}

.container {
    @include clearfix;
    max-width: 100%;
}

@for $i from 1 through $grid-max-cols {
    .cols-#{$i} {
        max-width: calc((100% * #{$i}) / $grid-max-cols);
    }
}