.SubmitButton {
    /* Reset */

    border: none;
    outline: none;
    cursor: pointer;

    /* Styles */
    font-size: 2rem;
    padding: 2rem;
    width: 80%;
    letter-spacing: .1rem;
    word-spacing: .5rem;
    border: .1rem solid aqua;
}

